body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: black;
  color: white;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: white;
  margin-bottom: 5rem;
}

/* Piece indicator */
#indicator td {
  width: 4rem;
  height: 3rem;
  text-align: center;
  border: 0.5px solid white;
  font-size: 2rem;
  cursor: pointer;
}

#indicator td:hover {
  background-color: #1A1A1A;
}

/* Board Styles */ 
table {
  border-collapse: collapse;
}

#board td {
  width: 5rem;
  height: 5rem;
  text-align: center;
  font-size: 2rem;
}

#board.disabled td {
  border: 3px solid gray;
}

#board.active td {
  border: 3px solid white;
}

/* Button */
button {
  background-color: black;
  border: none;
  padding: 1rem;
  color: #2ECC71;
  font-size: 1rem;
  cursor: pointer;
}
